<section id="contact" class="contact-section">
    <h1 class="section-title">Contact Me</h1>
    <div class="contact-container">

        <!-- Email -->
        <div class="contact-card">
            <div class="contact-icon">
                <img src="path-to-email-icon.png" alt="Email">
            </div>
            <div class="contact-content">
                <h2 class="contact-title">Email</h2>
                <p><a href="mailto:stefandinu.contact@yahoo.com" class="contact-link">stefandinu.contact&#64;yahoo.com</a></p>
            </div>
        </div>

        <!-- LinkedIn -->
        <div class="contact-card">
            <div class="contact-icon">
                <img src="path-to-linkedin-icon.png" alt="LinkedIn">
            </div>
            <div class="contact-content">
                <h2 class="contact-title">LinkedIn</h2>
                <p><a href="https://www.linkedin.com/in/ionel-%C8%99tefan-dinu-97b75131a/" target="_blank" class="contact-link">LinkedIn Profile</a></p>
            </div>
        </div>

        <!-- GitHub -->
        <div class="contact-card">
            <div class="contact-icon">
                <img src="path-to-github-icon.png" alt="GitHub">
            </div>
            <div class="contact-content">
                <h2 class="contact-title">GitHub</h2>
                <p><a href="https://github.com/stefand799" target="_blank" class="contact-link">GitHub Profile</a></p>
            </div>
        </div>

        <!-- Twitter -->
        <div class="contact-card">
            <div class="contact-icon">
                <img src="path-to-twitter-icon.png" alt="Twitter">
            </div>
            <div class="contact-content">
                <h2 class="contact-title">Twitter</h2>
                <p><a href="https://x.com/stefan_d799" target="_blank" class="contact-link">Twitter Profile</a></p>
            </div>
        </div>

        <!-- Add more contact options -->

        <!-- Website
        <div class="contact-card">
            <div class="contact-icon">
                <img src="path-to-website-icon.png" alt="Website">
            </div>
            <div class="contact-content">
                <h2 class="contact-title">Website</h2>
                <p><a href="https://www.yourwebsite.com" target="_blank" class="contact-link">www.yourwebsite.com</a></p>
            </div>
        </div> -->

    </div>
</section>
