<section id="contact" class="contact-section">
    <h1 class="section-title">Contact</h1>
    <div class="contact-container">
        <!-- LinkedIn -->
        <div class="contact-card">
            <div class="contact-icon">
                <i class="fab fa-linkedin-in"></i>
            </div>
            <div class="contact-content">
                <h2 class="contact-title">LinkedIn</h2>
                <a href="https://www.linkedin.com/in/ionel-%C8%99tefan-dinu-97b75131a/" target="_blank" class="contact-link">Connect</a>
            </div>
        </div>
        
        <!-- Stack Overflow -->
        <div class="contact-card">
            <div class="contact-icon">
                <i class="fab fa-stack-overflow"></i>
            </div>
            <div class="contact-content">
                <h2 class="contact-title">Stack Overflow</h2>
                <a href="https://stackoverflow.com/users/30213000/stefan-d799" target="_blank" class="contact-link">View Profile</a>
            </div>
        </div>

        <!-- GitHub -->
        <div class="contact-card">
            <div class="contact-icon">
                <i class="fab fa-github"></i>
            </div>
            <div class="contact-content">
                <h2 class="contact-title">GitHub</h2>
                <a href="https://github.com/stefand799" target="_blank" class="contact-link">View Projects</a>
            </div>
        </div>

        <!-- Twitter -->
        <div class="contact-card">
            <div class="contact-icon">
                <i class="fab fa-twitter"></i>
            </div>
            <div class="contact-content">
                <h2 class="contact-title">Twitter</h2>
                <a href="https://x.com/stefan_d799" target="_blank" class="contact-link">Follow</a>
            </div>
        </div>

        <!-- Resume PDF -->
        <div class="contact-card">
            <div class="contact-icon">
                <i class="fas fa-file-pdf"></i>
            </div>
            <div class="contact-content">
                <h2 class="contact-title">Resume PDF</h2>
                <a href="assets/documents/stefan-dinu-resume.pdf" download class="contact-link">Download CV</a>
            </div>
        </div>
    </div>
</section>