<header>
    <nav>
        <ul class="nav-list">
            <li><a href="#"><i class="fa fa-home"></i><span class="nav-text">Home</span></a></li>
            <li><a href="#"><i class="fa fa-user"></i><span class="nav-text">About Me</span></a></li>
            <li><a href="#"><i class="fa fa-graduation-cap"></i><span class="nav-text">Education</span></a></li>
            <li><a href="#"><i class="fa fa-briefcase"></i><span class="nav-text">Experience</span></a></li>
            <li><a href="#"><i class="fa fa-envelope"></i><span class="nav-text">Contact</span></a></li>
        </ul>
    </nav>
</header>


<!--

Home
About Me
Education
Experience
Contact


-->