<header>
    <nav>
        <ul class="nav-list">
            <li><a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}"><i class="fa fa-home"></i><span class="nav-text">Home</span></a></li>
            <li><a routerLink="/about" routerLinkActive="active-link"><i class="fa fa-user"></i><span class="nav-text">About Me</span></a></li>
            <li><a routerLink="/education" routerLinkActive="active-link"><i class="fa fa-graduation-cap"></i><span class="nav-text">Education</span></a></li>
            <li><a routerLink="/experience" routerLinkActive="active-link"><i class="fa fa-briefcase"></i><span class="nav-text">Experience</span></a></li>
            <li><a routerLink="/contact" routerLinkActive="active-link"><i class="fa fa-envelope"></i><span class="nav-text">Contact</span></a></li>
        </ul>
    </nav>
</header>